# IDE-specific directories and configuration files.
.vscode
.idea
CMakeLists.txt.user
CMakeUserPresets.json

# Possible CMake build directories.
/build
/cmake-debug-build
/out

# Non-essential project-related directories and files.
.conda
.compend
/flyout.js
/l10n
